body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100svh;
}

.categoryHeader {
  display: grid;
  grid-template-columns: repeat(10, min-content);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-gray-800);
  --bs-tooltip-color: var(--bs-white);
}

#root {
  min-height: 100svh;
  position: relative;
  padding-bottom: 6rem;
}
/* 
form {
  width: 300px;
} */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Legendary {
  border: 2px solid #7416cc;
}

.Ascended {
  border: 2px solid #cc5882;
}

.Exotic {
  border: 2px solid #ff8800;
}

.Rare {
  border: 2px solid #d8b735;
}

.Masterwork {
  border: 2px solid #2eb33f;
}

.Fine {
  border: 2px solid #315cb1;
}

.Basic {
  border: 2px solid #cecece;
}

.Junk {
  border: 2px solid gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}